.our-info-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 60px 140px 20px 140px;
    /* background-color: #839ed3; */
}
.our-info-contents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 2000px;
    /* background-color: #101828; */
 
   
}
.info-wrapper-box{
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.info-products-left {
    /* background-color: #b3bcd0; */
    width: 85%;
}

.info-title {
    color: var(--Gray-900, #101828);
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    /* 125% */
    letter-spacing: -0.96px;
}

.info-line-box {
    /* background-color: rgb(122, 142, 159); */
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-line {
    width: 100%;
    border: 2px solid red;
}
.info-description{
    color: var(--Gray-500, #667085);
text-align: center;
font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 33px */
}

.info-product-image{
    border-bottom-left-radius: 80px 20px; 
    
    background-color: rgb(142, 142, 142);
border-radius: 40px;
position: relative;
/* background-color: #252525; */


}
.info-design{
    background-color: antiquewhite;
   
height: 400px;
padding: 20px 50px;
    border-radius: 48px;
border: 1px solid #BCBCBC;
/* background: var(--gg, linear-gradient(180deg, #F3F9FF 0%, #FCFFF2 100%)); */
background-color: #b3bcd0;

display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}
.info-products-container{
    /* background-color: #252525; */
    display: flex;

    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 75px 0px;
    gap: 22px;
   
}
.svg-container{
    position: relative;
    
}
.design-intro-title{
    color: var(--Gray-900, #101828);
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 60px; /* 166.667% */
letter-spacing: -0.72px;
position: absolute;
bottom: -12px;


}
.design-product-box{
    border-radius: 48px;
border: 1px solid #BCBCBC;
background: var(--gg, linear-gradient(180deg, #F3F9FF 0%, #FCFFF2 100%));
/* background-color: #101828; */
padding: 7% ;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
cursor: pointer;
}
.design-product-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design-product-des{
    color: var(--Gray-500, #667085);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
display: flex;
justify-content: flex-start;
line-height: 150%; 
max-width: 516px;
width: 100%;

}
.info-products-right{
    display: flex;
    flex-direction: column;
  justify-content: space-between;
height: 100%;
  align-items:center;
  gap: 22px;
}
.info-product-title{
    color: var(--Gray-900, #101828);
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 60px; /* 166.667% */
letter-spacing: -0.72px;
}
.info-product-des{
    color: var(--Gray-500, #667085);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}
.info-product-item{
    border-radius: 48px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 9%;
    height: 100%;
border: 1px solid #BCBCBC;
background: linear-gradient(180deg, #F6FFE3 0%, #F8FBFF 100%);
position: relative;

}

.immo{
    width: 100%;
    max-width:516px ; 

  height:360px
}
.explore-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #042944;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    position: absolute;
    top: 24px;
    right: 18px;


}
.explore-design-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #042944;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    position: absolute;
    top: 24px;
    right: 18px;
    transform: translate(-13%,15%);


}

@media screen and (max-width : 530px) and (min-width : 0px) {
   .info-title{
    font-size: 42px;
   }
   .info-description{
    font-size: 18px;
   }
}
@media screen and (max-width : 330px) and (min-width : 0px) {
    .info-title{
     font-size: 38px;
    }
    .info-description{
     font-size: 18px;
    }
 }
 @media screen and (max-width : 1350px) and (min-width : 0px) {
    .info-products-container{
    padding: 60px 80px 20px 80px;
    }
}
 
 @media screen and (max-width : 1300px) and (min-width : 0px) {
   .info-products-container{
    flex-direction: column;
   }
   .info-products-right{
    padding: 0px 10px;
   width: 90%;
height: 100%;
 
}
.info-product-item{
    padding: 10%;
}
.our-info-container{
   
    padding: 60px 0px 20px 0px;
    /* background-color: #839ed3; */
}
/* .our-info-container{
 
    padding: 60px 60px 7px 60px;

} */

 }
 @media screen and (max-width : 600px) and (min-width : 0px) {
.info-products-container{
    padding: 75px 0px 10px 0px;
}

.design-product-box{
 
gap: 40px;

}
.immo{
   

  height:240px
}
.info-products-left{
    /* background-color: #b3bcd0; */
    width: 100%;
 
}
.info-products-right{
    /* background-color: #b3bcd0; */
    width: 100%;
    padding: 0px;
 
}
.design-intro-title{
  
bottom: -42px;


}
.explore-circle {
    width: 40px;
    height: 40px;
}
.explore-design-circle {

    width: 40px;
    height: 40px;
   
    transform: translate(5%,10%);


}
.explore-arrow{
    width: 24px;
    height: 24px;
}
.our-info-container{
 
    padding: 60px 10px 0px 10px;
    /* background-color: #839ed3; */
}
.design-intro-title{
  
    bottom: -42px;
    transform: translate(-75px ,0px);
    
    }

  }
 
  @media screen and (max-width : 541px) and (min-width : 0px) {
    .design-intro-title{
  
        bottom: -42px;
        transform: translate(-52px ,0px);
        
        }
        
    
      }
  @media screen and (max-width : 518px) and (min-width : 0px) {
    .design-intro-title{
  
        bottom: -42px;
        transform: translate(-6px ,0px);
        
        }
        
    
      }
      @media screen and (max-width : 377px) and (min-width : 333px) {
        .design-product-box{
      
            padding:0px 40px 30px;
            
            }
            .explore-circle {
             
                transform: translate(5%,-20%);
            }
            .explore-design-circle {
            
              
                transform: translate(5%,10%);
            
            
            }
        
          }
          @media screen and (max-width : 331px) and (min-width : 0px) {
            .design-product-box{
          
                padding:0px 40px 30px;
                
                }
                .explore-circle {
                 width: 27px;
                 height: 27px;
                    transform: translate(5%,-20%);
                }
                .explore-design-circle {
                
                  
                    transform: translate(5%,10%);
                
                
                }
                .explore-arrow{
                    width: 20px;
                    height: 20px;
                }
            
              }

              @media screen and (max-width : 377px) and (min-width : 0px) {
          .explore-design-circle{
            transform: translate(5%,60%);
          }
                  }
                  @media screen and (max-width : 365px) and (min-width : 0px) {
                   .design-intro-title{
                    font-size: 32px;
                   }
                   .design-product-des{
                    font-size: 15px;
                   }
                   .info-product-title{
                    font-size: 32px;
                   }
                   .info-product-des{
                    font-size: 15px;
                   }
                }
                        
                  @media screen and (max-width : 330px) and (min-width : 0px) {
                    .explore-design-circle{
                      transform: translate(5%,90%);
                    }
                            }
          
      