.footer-container {
    /* background-color: gray; */
  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    bottom: 0;
   
}
.footer-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 2000px;
    padding: 3px 60px;
}
.footer-contacts{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
  
    justify-content: space-between;
}
.footer-contacts-right{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(151, 151, 102); */
  gap: 20px;

    
}

.footer-copyrights{
    /* background-color: aquamarine; */
    width: 100%;
    padding: 20px;
    height: 100%;
}
.footer-address{
    display: flex;
    flex-direction: row;
    gap: 4px;
    line-height: 22px;
   

    color: #101828;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}
.footer-email-phone{
    font-family: Montserrat;
    display: flex;
    gap: 12px;
}
.footer-email{
    color: #101828;
display: flex;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 150% */
gap: 4px;

}
.footer-phone{
    display: flex;
   
}
.phone-number{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footer-contact-one{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.footer-contacts-left{
    /* background-color: rgb(165, 165, 229); */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20%;
    width: 50%;
}
.company-section-tab , .company-service-tab{
    color: #101C3E;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
cursor: pointer;
}
.company-section-title , .company-service-title{
    color: #101828;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
}
.footer-company-section,.footer-services-section{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer-copyrights{
    display: flex;
    justify-content: space-between;
}
.copyrights-left{
    color: var(--Gray-400, #98A2B3);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.copyrights-right{
    display: flex;
    gap: 22px;
}
.social-media-logo{
    cursor: pointer;
}

@media screen and (max-width : 908px) and (min-width : 600px) {
   .footer-contacts{
    display: flex;
    flex-direction: column;
   }
   .phone-number{
    flex-direction: row;
   }
   .footer-contacts-left{
    width: 100%;
    padding: 10px;
   }
              }
              @media screen and (max-width : 600px) and (min-width : 0px) {
                .footer-contacts{
                 display: flex;
                 flex-direction: column;
                }
                .phone-number{
                 flex-direction: column;
                }
                .footer-contacts-left{
                 width: 100%;
                 padding: 40px;
                }
                .footer-content{
                   
                    padding: 20px 4px;
                }
                           }
                           @media screen and (max-width : 525px) and (min-width : 0px) {
                           
                            .phone-number{
                             flex-direction: column;
                            }
                          
                            .footer-copyrights{
                                flex-direction: column;
                                gap: 12px;
                              
                            }
                                       }
                                       @media screen and (max-width : 475px) and (min-width : 0px) {
                                       .footer-email-phone{
                                        flex-direction: column;
                                       }
                                       .phone-number{
                                        flex-direction: row;
                                       }
                                       .footer-contacts-left{
                                        padding: 40px;
                                       }
                                       .footer-contacts{
                                       
                                        padding: 0px 20px;
                                       
                                    }
                                                   }