::-webkit-scrollbar {
    width: 4px;
    color: #EF4344;;
 }
 ::-webkit-scrollbar-track {
    background: #ffffff;
 }
 ::-webkit-scrollbar-thumb {
    background: #EF4344;;
 }
 .cursor{
   position: fixed;
   width: 8px;
   height: 8px;
   margin-left: -px;
   margin-top: -20px;
   border-radius: 50%;
   border: 2px solid #ff0303;
   background: #ff0303;
   transition: transform .2s ease;
   transform-origin: center center;
   pointer-events: none;
   z-index: 1000;
 }
.grow,
.grow-small {
   transform: scale(12);
   background: rgb(255, 255, 255);
   mix-blend-mode: difference;
   border: none;
 
}

.aboutgrow,
.aboutgrow-small {
   transform: scale(12);
   background: #000000;
   mix-blend-mode: difference;

   border: none;
}

.grow-small {
   transform: scale(2.5);
}

.elevate {
   color: red;
   font-size: 44px;
}

@media screen and (max-width:900px) and (min-width:0px) {
   .cursor {
      display: none;
   }
   .grow,
   .grow-small {
      display: none;
   }
   .aboutgrow,
   .aboutgrow-small {
      display: none;
   }
}